header {
  border-bottom: 1px solid #ededed;
}

header .container {
  align-items: center;
  padding: 0 2rem;
  gap: 0.5rem;
  transition-duration: 0.3s;
}

header img:hover {
  opacity: 0.8;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  background-color: #f1f5f5;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  transition-duration: 0.3s;
}

.search img {
  opacity: 0.5;
}

.search input {
  flex: 1;
}

.button-header {
  display: flex;
  gap: 0.5rem;
  transition-duration: 0.3s;
}
header button {
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
}

header .button-prim {
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
}

nav {
  border-bottom: 1px solid #ededed;
}

nav .container {
  padding: 0 2rem;
}

nav .link {
  font-size: 0.85rem;
  min-width: max-content;
  padding: 0.5rem 1rem;
  color: #5a6566;
  background-color: #ffffff;
  text-decoration: none;
}

nav .link:hover {
  background-color: #edf2f2;
}

@media screen and (max-width: 1024px) {
  header .container {
    flex-wrap: wrap;
    padding: 0rem 1rem;
    gap: 0.12rem;
  }
  .search {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .search {
    margin: 0 0 0 2rem;
  }

  .button-header {
    width: 100%;
  }

  .button-header button {
    width: 100%;
  }

  header .container {
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 440px) {
  .search {
    margin: 0;
    width: 100%;
  }

  header .container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
