article {
  position: inherit;
  width: calc((100% - 3rem) / 4);
  height: fit-content;
}

.product-img {
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  background-color: #edf2f2;
  /* height: 20rem; */
}

.product-img > img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
.product-img > img:hover {
  opacity: 0.8;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 4rem;
}

.favorite:hover {
  background-color: #edf2f2;
}

.seller {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  background-color: #ffffff;
  border-radius: 3rem;
  font-size: 0.75rem;
  color: #5a6566;
}

.seller > img {
  width: 1.5rem;
  border-radius: 3rem;
}

.product-text {
  position: block;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #5a6566;
  height: fit-content;
  background-color: #edf2f2;
  border-radius: 0 0 0.5rem 0.5rem;
}

.product-text > span {
  margin-top: 1rem;
  font-size: 1rem;
}

.product-text > p:nth-child(2) {
  height: 2.4rem;
  overflow: hidden;
}

.no-decoration {
  width: fit-content;
  text-decoration: none;
}
